menu "Application Configuration"

	menu "WiFi Setting"

		config ESP_WIFI_SSID
			string "WiFi SSID"
			default "myssid"
			help
				SSID (network name) to connect to.

		config ESP_WIFI_PASSWORD
			string "WiFi Password"
			default "mypassword"
			help
				WiFi password (WPA or WPA2) to connect to.

		config ESP_MAXIMUM_RETRY
			int "Maximum retry"
			default 5
			help
				Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

	endmenu

	menu "MQTT Server Setting"

		config BROKER_URL
			string "Broker URL"
			default "mqtt://broker.emqx.io"
			help
				URL of the broker to connect to

		config PUB_TOPIC
			string "Publish Topic"
			default "image/esp32cam"
			help
				Topic of publish

	endmenu

	choice FRAMESIZE
		bool "Select Frame Size"
		default FRAMESIZE_VGA
		help
			Select Picture Frame Size.

		config FRAMESIZE_240X240
			bool "Frame Size:240x240"
		config FRAMESIZE_QVGA
			bool "Frame Size:320x240"
		config FRAMESIZE_HVGA
			bool "Frame Size:480x320"
		config FRAMESIZE_VGA
			bool "Frame Size:640x480"
		config FRAMESIZE_SVGA
			bool "Frame Size:800x600"
		config FRAMESIZE_XGA
			bool "Frame Size:1024x768"
		config FRAMESIZE_HD
			bool "Frame Size:1280x720"
		config FRAMESIZE_SXGA
			bool "Frame Size:1280x1024"
		config FRAMESIZE_UXGA
			bool "Frame Size:1600x1200"
	endchoice

	menu "Select Shutter"
		choice SHUTTER_SELECT
			bool "Select Shutter"
			default SHUTTER_ENTER
			help
				Selecting the shutter method

			config SHUTTER_ENTER
				bool "Use Enter key"
			config SHUTTER_GPIO
				bool "Use GPIO"
			config SHUTTER_MQTT
				bool "Use MQTT Subscribe"

		endchoice

		config GPIO_INPUT
			int "Input GPIO number"
			depends on SHUTTER_GPIO
			range 4 34
			default 15
			help
				GPIO number (IOxx) to Button Input.

		choice GPIO_INITIAL
			prompt "GPIO Initial state"
			depends on SHUTTER_GPIO
			default GPIO_PULLDOWN
			help
				Select initial state of GPIO.

			config GPIO_PULLUP
				bool "GPIO_PULLUP"
				help
					The initial state of GPIO is Pull-UP.

			config GPIO_PULLDOWN
				bool "GPIO_PULLDOWN"
				help
					The initial state of GPIO is Pull-Down.

		endchoice

		config SUB_TOPIC
			string "Subscribe Topic"
			depends on SHUTTER_MQTT
			default "/topic/picture/sub"
			help
				Topic of subscribe

	endmenu

	config ENABLE_FLASH
		bool "Enable Flash Light"
		help
			Enable Flash Light.

	config GPIO_FLASH
		int "Flash GPIO number"
		depends on ENABLE_FLASH
		range 4 34
		default 4
		help
			GPIO number (IOxx) to Button Input.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to Button.



endmenu

